<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.png">
            </a>
            <div class="content">
                <a class="header">Martin Hoeher</a>
                <div class="description">
                    <p>I am a software/firmware developer, working in Dresden, Germany. In my free time, I spent some time on developing apps, presenting some interesting findings here in my blog.</p>
                </div>
            </div>
        </div>
    </div>
</div>