<div class="ui card">
    <div class="content">
        <a class="header" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | strip_html | truncatewords: 15 }}</a>
        <div class="meta">
            <span class="date">{{ post.date | date_to_string }} 
            {% if post.category %} 
                in {{ post.categories }}
            {% endif %} 
            </span>
        </div>
        <div class="description">
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>
    <div class="extra content">
        {% if post.author %}
        <div class="right floated author">
            <img class="ui avatar image" src="/assets/img/profile.png"> {{ post.author }}
        </div>
        {% endif %}
    </div>
</div>