<div class="ui horizontal divider">Comments</div>
{% if site.data.comments.[page.slug] %}
{% assign all_comments = site.data.comments.[page.slug] | sort %}

{% for comments in all_comments %}
{% assign comment = comments[1] %}

<article class="ui comment form" id="{{ comment._id }}">
    <div class="fields">
        <div class="field">
            <img class="field comment-gravatar-img" src="https://www.gravatar.com/avatar/{{ comment.email }}" />
        </div>
        <div class="field">
            <h3 class="field">{{ comment.name | strip_html }}</h3>
            <p>
                <time>
                    <a href="{{ page.url }}#{{ comment._id}}">{{ comment.date | date: "%b %-d, %Y, %H:%M" }}</a>
                </time>
            </p>
            <div>
                {{ comment.comment | strip_html | markdownify | smartify }}
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
</article>

{% endfor %}
{% endif %}

<div class="ui form" id="post-commit-form" onsubmit="submitComment($(this), '{{site.staticman.api}}')">
    <input type="hidden" name="options[slug]" value="{{ page.slug }}">
    <input type="hidden" name="options[parent]" value="">

    <div class="field required">
        <label>Comment:</label>
        <textarea name="fields[comment]" type="text" id="comment" placeholder="Please enter your comment here..."  rows="10"></textarea>
    </div>
    <div class="field required">
        <label>Name:</label>
        <input name="fields[name]" type="text" id="name" placeholder="Your name"/>
    </div>
    <div class="field required">
        <label>e-Mail:</label>
        <input type="email" name="fields[email]" id="email" placeholder="Your e-mail"/>
    </div>
    <input type="hidden" name="options[reCaptcha][siteKey]" value="{{site.staticman.reCaptcha.sitekey}}">
    <input type="hidden" name="options[reCaptcha][secret]" value="{{site.staticman.reCaptcha.secret}}">
    <div class="g-recaptcha" data-sitekey="{{site.staticman.reCaptcha.sitekey}}"></div>
    <div class="ui success message">
        <div class="header">Your comment has been filed</div>
        <p>We'll review it and it will appear here as soon as we're done.</p>
    </div>
    <div class="ui error message">
        <div class="header">Sorry, something went wrong...</div>
        <p>Your comment could not be posted.</p>
        <p id="error-code"></p>
    </div>        
    <button class="ui button submit" type="button">Submit</button>
    <div class="ui message">
        <div class="header">Regarding your personal information...</div>
        <ul class="list">
            <li>The name you enter will be shown next to your comment. You may enter your real name or whatever you like.</li>
            <li>Your e-mail will be used to show an image representing you next to your comment. We do not store nor show your address somewhere. Instead, an ID will be calculated from it and stored. This ID is then used to retrieve an image from <a href="http://gravatar.com/">Gravatar</a>.</a></li>
        </ul>
    </div>
</form>
