<footer>
    <div class="footer-wrapper">
        <div class="ui secondary menu inverted">
            <p class="item">Martin Hoeher &copy; 2009-2021</p>
            <div class="right menu">
                <a class="item" href="/archive.html">
                    Latest Posts
                </a>
                <a class="item" href="https://twitter.com/mhoeher">
                    Twitter
                </a>
                <a class="item" rel="me" href="https://dresden.network/@mhoeher">
                    Mastodon
                </a>
                <a class="item" href="https://github.com/mhoeher">
                    Github
                </a>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/semantic.min.js"></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
