<div class="header-wrapper">
    <header>
        <!-- logo and description -->
        <div class="head-area">
            <h1 class="site-logo">
                <a href="/"><img src="/assets/img/logo.png" class="logo"/></a>
            </h1>
            {% if page.layout != "post" %}
            <h3 class="site-description">{{ site.title }} | {{ site.description }}</h3>
            {% endif %}
        </div>
        <nav class="site-nav">
            <div class="left-nav">
                <!-- add titles to all buttons -->
                <div class="ui secondary menu inverted">
                    <a class="item" href="/">
                        Home
                    </a>
                    <a class="item" href="/about/index.html">
                        About
                    </a>
                    <a class="item" href="/archive.html">
                        Archive
                    </a>
                    <div class="right menu">
                        <div id="head-search" class="ui category search item">
                            <div class="ui transparent icon input">
                                <input placeholder="Search..." type="text" id="search-input" onkeypress="handleKeyPress()">
                                <i class="search link icon" onclick="handleSubmit()"></i>
                            </div>
                        </div>

                        <a class="item" href="/feed.xml">Subscribe</a>
                    </div>
                </div>
            </div>
            <div class="right-nav"></div>
        </nav>
    </header>
</div>