---
layout: default
---

<div class="post-container">
    <center>
        <span class="date">
            {{ page.date | date_to_string }} 
            {% if page.category %} 
                in <i>{{ page.categories }}</i>
            {% endif %} 
        </span>
        <h1 class="post-title">{{ page.title }}</h1>
    </center>
    <div class="ui divider"></div>
    {{ content }}
    <div class="ui horizontal divider">
        Thank You For Reading
    </div>
    {% include author.html %}
    {% include comments.html %}
</div>